name: offline_build
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.12.4
  - numpy
  - pandas
  - scipy
  - pyarrow
  - joblib
  - scikit-learn
  - lightgbm
  - xgboost
  - catboost
  - statsmodels
  - matplotlib
  - seaborn
  - networkx
  - pyreadstat
  - openpyxl
  - tqdm
  - pyyaml
  - pip
  - pip:
    - shap
    - shapash
    - lime
    - optuna
    - hyperopt
    - optbinning
    - feature-engine
    - featuretools
    - category-encoders
    - spacy
    - sentence-transformers
    - gensim
    - flashtext
    - stop-words
    - evidently
    - nannyml
    - frouros
    - mljar-scikit-plot
    - sdv
    - DataSynthesizer
    - mdatagen
    - tabpfgen
    - presidio-analyzer
    - presidio-anonymizer
    - ydata-profiling
    - chainladder
    - sas7bdat
